@page 
@using ExamplesApp.Pages.OptionalType
@model IndexModel
@{
    ViewData["Title"] = "Optional Type";
}

<h1>Optional Types</h1>
<p>This example uses optional type to solve issues with nullable objects</p>