@page
@using ExamplesApp.Pages.DiscriminatedUnion
@model IndexModel
@{
    ViewData["Title"] = "Discriminated Union";
}

<h1>Discriminated Union</h1>
<p>This example uses discriminated union to represent complex data that take on different forms or states.</p>
<p>E.g. discriminated unions allow you to return more than one response type on a single command or query operation.</p>
<p>Ok | NotFound | BadRequest</p>