@page
@using ExamplesApp.Pages.OptionalTypeEf
@model IndexModel
@{
    ViewData["Title"] = "Optional Type [ef]";
}

<h1>Optional Types using EF and SQLite</h1>
<p>This example uses optional type to solve issues with nullable objects</p>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>My Awesome Book</td>
            <td>Jonnie Author</td>
        </tr>
    </tbody>
</table>